html,
body,
#cover {
	height: 100%;
}
#cover {
	background: url(../images/mainBg.jpg) no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.fixed-top {
    max-width: 1140px;
    margin: 30px auto;
	transition: 0.2s all linear;
}
h1{
	margin-top: 20%;
	font-family: 'Cairo', sans-serif;
	color:#fff;
	font-size: 50px;
	font-style: italic;
	margin-bottom: 40px;
}
h2{
	font-family: 'Montserrat', sans-serif;
	color:#fff;
	font-size: 75px;
	margin-bottom:30px;
}
.btn-primary{
	background-color: #fed136;
	border-style: none;
	font-family: 'Montserrat', sans-serif; 
	font-size:18px;
	padding: 20px 40px;
}	
	
.btn-primary:hover{
	background-color:#fff;
	color:#fed136;
}	

a.nav-link{
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	color:whitesmoke !important;
	transition: color 0.5s ease;
	-webkit-transition: color 0.5s ease;
	-moz-transition: color 0.5s ease;
	-o-transition: color 0.5s ease;
}
a.nav-link:hover{
	
	color:#fed136 !important;
	
}


/*Services Section*/

#services{
	padding:120px 0px;
}
.services-top h3{
	font-family:'Montserrat', sans-serif;
	font-size:40px;
	font-weight: 700;
}

.services-top p{
	font-family: 'Cairo', sans-serif;
	color:#777;
	font-size:16px;
	font-style: italic;
	margin-bottom:80px;
	font-weight: 700;
	
}

.item-circle{
	border:3px solid #fed136;
	width: 100px;
	height: 100px;
    margin:0 auto;    /* ortalamakicin kullanilir*/
	border-radius: 200px;
}

.services-content i{
	color:#fed136;
	line-height: 100px;  /*100 px verdik cunku yukarida height ve  weight i 100 verdik*/
	
}

.services-content h4{
	margin-top: 25px;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color:#222;
	
}
.services-content p{
	font-family: 'RobotoSlap Regular';
	font-size:14px;
	color:#777;
}

/*PORTFOLIO DESIGN*/
#portfolio{
	background-color: #f7f7f7;
	padding-top:120px;
	padding-bottom:70px;
}

.portfolio-top h3{
	font-family:'Montserrat', sans-serif;
	font-size:40px;
	font-weight: 700;
	
}
.portfolio-top p{
	font-family: 'Cairo', sans-serif;
	color:#777;
	font-size:16px;
	font-style: italic;
	margin-bottom:80px;
	font-weight: 700;
	
}
.card{
	border-style:none;
	
}
.portfolio-content .row{
	margin-bottom:50px;
}

.portfolio-content .card-title{
	font-family: 'Monserrat', sans-serif;
	font-size:18px;
	font-weight: 700;
	padding-top:20px;
	 
}
.portfolio-content .card-subtitle{
	font-family:'Cairo', serif;
	font-size:14px;
	font-style: italic;
	padding-bottom:20px;
}
/*PORTFOLIO DESIGN end*/
/*about us*/

#about-us{
	padding-top:120px;
	padding-bottom:30px;
}

.about-us-top h3{
	font-family:'Monserrat', sans-serif;
	font-size:40px;
	font-weight: 700;
	
}

.about-us-top p{
	font-family:'Cairo', sans-serif;
	color: #777;
	font-size:16px;
	font-style: italic;
	margin-bottom: 70px;
	
}
.about-us-content .row{
	margin-bottom: 90px;
	
}

.about-us-content h4{
	font-family:'Monserrat', sans-serif;
	font-size:18px;
	font-weight: 700;
	
}

.about-us-content p{
	font-family:'Cairo', sans serif;
	color:#777;
	font-size:16px;
}

.about-us-content{
	position: relative;
}
.about-us-content:before{    /* bunuun anlaami akasina cizgi cekmesi icin yaptigimiz aslinda arkasina cizgi cekiyor	*/
	position:absolute;
	top: 0;
	bottom: 0;
	content: "";
	width: 4px;
	background-color: red;
	left:50%;
	margin-left: -2px;
}
.about-us-circle{
	position: relative;
	text-align: center;
}
.about-us-circle:before{
	top: 0;
	bottom:0;
	position: absolute;
	content:"";
	width: 176px;
	height:176px;
	background-color: #fed136;
	border-radius:170px;
	boreder:7px solid red;
	left:50%;
	margin-left:-91px;
}

.about-us-circle .yellow-text{
	position:relative;
	z-index:1;
	padding-top:40px;
	font-family: 'Monserrat', sans-serif;
	font-size:18px;
	font-weight: 700;
	color:white;
}
/*Smooth scrolling*/

.fixed-top.change-fix-top{
	margin-top:0;
	background-color: #1886c7;
	max-width: 20000px;
	transition: all .8s ease;
}

#team{
	background-color: #f9f9f9;
	padding-top: 120px;
	padding-bottom: 70px;
	
}
.team-top{
	margin-bottom: 85px;
}

.team-top h3{
	font-family: 'Monserrat', sans-serif;
	font-size:40px;
	font-weight: 700;
	
}

.text-top p{
	font-family:'Cairo',sans-serif;
	color: #777;
	font-size: 16px;
	font-style: italic;
	margin-bottom: 70px;
	
}
.team-circle{
	width: 220px;
	height: 220px;
	background-color: black;
	border-radius: 220px;
	margin: 0 auto;
	border:6px solid #fff;
	margin-bottom:20px;
}

.team-content h4{
	font-family: 'Monserrat', sans-serif;
	font-size:16px;
	font-weight: 700;
}
.team-content h5{
	font-family: 'Monserrat', sans-serif;
	font-size:14px;
	color:#777;
}
.social-icons{
	list-style: none;
	margin: 0;
	padding: 0;
	
	
}

.social-icon{
	display: inline;
	padding-right: 5px;
	padding-left: 5px;

	
}

.social-icon .fa{
	border:2px solid #000;
	width: 30px;
	height: 30px;
    margin:0 auto;    /* ortalamakicin kullanilir*/
	border-radius: 30px;
	line-height: 30px;

	
}
.team-content p{
	margin:50px auto;
	
}



  /*SECTION TEAM*/

#team {
    padding-top: 120px;
    padding-bottom: 70px;
    background-color: #f9f9f9;
}

.team-top h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.team-top p {
    font-family: 'Cairo', sans-serif;
    color: #777;
    font-size: 16px;
    font-style: italic;
    margin-bottom: 70px;
}

.team-circle {
    width: 220px;
    height: 220px;
    background-color: #000;
    border-radius: 220px;
    margin: 0 auto;
    border: 6px solid #fff;
    margin-bottom: 20px;
}

.team-content h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 700;
}

.team-content h5 {
    font-family: 'Cairo', sans-serif;
    font-size: 14px;
    font-weight: 700;
}

.social-icons {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social-icon {
    display: inline;
    padding-right: 5px;
    padding-left: 5px;
}

.social-icon .fa {
    border: 2px solid #000;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    line-height: 26px;
}

.team-content p {
    margin: 50px auto;
    font-family: 'Cairo', sans-serif;
    font-size: 14px;
    color: #777;
}



#partner{
	padding: 60px 0;

}

#contact{
	background: url(../images/mapBg.jpg)no-repeat center center fixed;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	padding: 120px 0;
}

.contact-top h3{
	font-family: 'Monserrat',sans-serif;
	font-size: 40px;
	font-weight: 700;
	color:#fff;
}

.contact-top p{
	font-family: 'Cairo',sans-serif;
	color: #777;
	font-style: italic;
	font-size: 16px;
	margin-bottom: 70px;
}

#name, #email, #subject{
	width: 90%;
	height: 50px;
	margin-bottom: 26px;
	border-style: none;
	border-radius: 4px;
	padding-left: 20px;
	margin-left: 5%;



}
textarea{
	width: 90%;
	height: 202px;
	border-style: none;
	border-radius: 4px;
	padding-left: 20px;
	padding-top: 15px;
	margin-left: 5%;

}

.golden-form-element{
	font-family: 'Monserrat',sans-serif;
	font-size: 15px;
	font-weight: 400;
}

#footer{
	padding: 20px 0;

}

#footer p{
	font-family: 'Monserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #5b5b5b;
	line-height: 40px;
}

.company-social-icons{
	list-style-type: none;
	margin: 0;
	padding: 0;

}
.company-social-icon{
	display: inline;
	font-size: 30px;
	padding-left: 9px;
	padding-right: 9px;
	color: #fff;
}

.company-social-icon .fa{
	width: 40px;
	height: 40px;
	border-radius: 40px;
	line-height: 40px;
	background-color: #000;

}
