*{
    box-sizing: border-box;
}
body {
    margin: 0;
}
nav{
    background-color: #d8d8d8;
    opacity:0.5;
    position: fixed;
    top: 0;
    width: 100%;
    display: inline-block;

}
nav:after{
    content: "";
    display: block;
    clear: both;
}
.logo{
    float: right;
    margin: 0;
    padding: 0;
}
.logo, .menu{
    display:inline-block;
}
.menu {
    float: left; /*menuyu saga almaya yarar*/
    margin: 20px;
}
.menu ul{   /* menu ul veya menu > ul yapabiliriz ikiside ayni*/
    list-style:none; /* bu da madde isaretlerini yok eder.*/
    padding-left: 0;
    margin:0;
}
.menu ul li{  /*tum li larda yanyana koymamizi sagliyor.*/
    display:inline-block;
    font-family: sans-serif;
    margin-right:15px;

}
.menu ul li a{
    text-decoration: none;
    color:black;
    padding: 20px 15px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 500px;


}
.menu ul li a.active1:hover {

    background-color: gray;
    border-radius: 500px;
    padding:10px;
    transition:all 0.5s ease;
}
.menu ul li a.active2:hover {

    background-color:gray;
    border-radius: 500px;
    padding:5px;
    transition:all 0.5s ease;

}
.menu ul li a.active3:hover {

    background-color: gray;
    border-radius: 500px;
    padding:5px;
    transition:all 0.5s ease;

}

header{
    background-image: url("nasa-53884-unsplash.jpg");
    height:500px;
    background-size: cover;
    background-repeat: no-repeat;  /*arkaplan resminin surekli tekrarlamasini onluyor bazi siterlerde bu ozellik
    olmadigi icin surekli ayni resmi tekrar eder. */
    background-attachment: fixed;   /* simin asagi dogru kaymasini saglar . */
    background-position-y: -160px;
    font-family: "Noto Serif Kannada";


}
header.p{
    margin: 0;
}

.hero-container{
    text-align: center;
    padding-top: 50px;
    font-size: 30px;
    font-weight: 700;


}
.hero-container h2 {
    color: #effbfb;
    font-family: "Droid Serif";
    text-transform: uppercase;
}


.bio {
    color: black;
    background-attachment: fixed;
    margin-left: 10px;
    margin-top: 40px;
}
.bio .photo{
    float:left;
    padding:0 10px 10px 0;

    width: 80px;
    height: 100px;
}
